.cont-faq {
  padding-top: 80px;
}

.cont-col-faq {
  padding-top: 15px;
}

.accordion-cont {
  padding-top: 15px;
}

.p-text-faq {
  font-family: Arial;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
