.banner-bg {
  background-color: #f1f3ff;
  padding-top: 30px;
}

.container-banner {
  align-items: center;
}

.text-h1 {
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
}

.text-p {
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.bg-button {
  background: #5cb85f;
  border-radius: 2px;
  width: 140px;
  height: 36px;
  border: none;
  color: #ffffff;
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.container-right1 {
  display: flex;
  /* position: relative; */
  /* margin-left: 200px; */
  /* justify-content: center; */
}

.container-right1-img {
  /* position: absolute;
  width: 704px;
  height: 243px;
  left: 736px;
  top: 261px; */

  /* Primary/DarkBlue/04
    
    0D28A6
    */
  background: #0d28a6;
  border-radius: 60px 0px 0px 0px;
}

@media only screen and (max-width: 1400px) {
  .container-right1 img {
    width: 100%;
    /* background: #0d28a6; */
    border-radius: 60px 0px 0px 0px;
    padding-top: 20px;
  }
}
