.navbar-bg {
  background-color: #f1f3ff;
}

.bg-logo {
  background-color: #0d28a6;
  width: 100px;
  height: 34px;
}

/* .container-content {
  justify-content: flex-start;
} */

.navbar-right {
  justify-content: center;
  padding-right: 100px;
}
